<header class="flex justify-between items-center  py-2 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full size-32 mx-6 mt-10 " src="../imagen/me.jpg" alt="xaviFoto">

    <nav class="flex flex-col mr-11 mt-10 gap-x-10 lg:flex-row  md:flex-row md:mr-19 font-bold opacity-80 ">
        <a href="#top"  class="hover:scale-125 hover:text-yellow-200 hover:underline">Inicio</a>
        <a href="#skills"  class="hover:scale-125 hover:text-yellow-200 hover:underline">Skills</a>
        <a href="#proyectos" class="hover:scale-125 hover:text-yellow-200 hover:underline">Proyectos</a>
        <a href="#experiencia"  class="hover:scale-125 hover:text-yellow-200 hover:underline">Experiencia</a>
        <a href="#contacto" class="hover:scale-125 hover:text-yellow-200 hover:underline">Contacto</a>
    </nav>
</header>