<a
  class={`
    w-20
    rounded-sm border border-cyan-950
    flex justify-center items-center 
     px-1 gap-x-1 md:px-4 bg-white/5 
     text-xs lg:md
     transition
    hover:scale-110 hover:bg-white/10 
 
    shadow-cyan-500/30 hover:shadow-sm
    `}
  {...Astro.props}
  target="_blank"
  rel="noopener noreferer"
>
  <slot />
</a>

<!--    xl:ml-64 lg:ml-64 md:ml-64 sm:ml-64 ml-4  -->